@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Dancing+Script:wght@400..700&display=swap');

body{
    font-family: sans-serif;
    text-align: center;
}



h1{
    font-family: "Dancing Script", serif;
    font-size: 100px;
    text-align: center;
    
}


.p1{
    font-size: 20px;
    font-family: "Cinzel", serif;
}

header{
    position: fixed;
    text-align: center;
}

main{
    position: absolute;
    transform: none;
    text-align: center;
}
footer{
    position: fixed; bottom: 0;
    text-align: center;
}