body{
    background-image: url(./Spiderman\ Ipad\ Wallpaper\ Aesthetic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.h1{
    font-size: 100px;
    text-align: center;
    
}