    body{
      margin: 0;
      padding: 0;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      
    }

    .face-div {
      width: 200px;
      height: 200px;
      background: yellow;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .eyes-div {
      display: flex;
      gap: 50px;
      font-size: 20px;
    }


    .mouth-div {
      width: 80px;
      height: 40px;
      border-bottom: 5px solid black;
      border-radius: 0 0 40px 40px solid black;
    }