body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100vh;
}

.color-row {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.color-box {
  width: 80px;
  height: 80px;
  border-radius: 15px;
  border: 2px solid white;
}


.dark-red { background-color: #750017; }
.red      { background-color: #f02020; }
.orange   { background-color: #ff8020; }
.green    { background-color: #30b340; }
