body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 30px;
}

.row {
  display: flex;
  gap: 20px;
  align-items: center;
}


.big-box {
  width: 180px;
  height: 80px;
  border-radius: 30px;
}

.medium-box {
  width: 100px;
  height: 50px;
  border-radius: 15px;
}

.square {
  width: 80px;
  height: 80px;
  border-radius: 5px;
}

.circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.small-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}


.red    { background-color: #800018; }
.orange { background-color: #ff8020; }
.yellow { background-color: #ffed00; }
.purple { background-color: #a347a3; }
.gray   { background-color: #777; }
