@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Doto:wght@100..900&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Protest+Revolution&display=swap');
.p1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    text-align: center;
}


.p1{
    transition: 1s;

}
.p1:hover{
    color: green

}




.p2{
    font-size: 40px;
    text-shadow: 1px 1px 10px green;
}

.p2{
    transition: 1s;
}

.p2:hover{
    color: blue;
    text-shadow: blue;
    font-size: 100px;

    
}


.p3{
    transition: 1s;
}
.p3 {
    font-size: 30px;
    color: blue;
}

.p3:hover {
    color: green;
}

.p4{
    transition: 1s;
}
.p4 {
    color: red;
    text-shadow: 2px 2px 10px green;
    font-size: 25px;
    font-family: monospace;
}

.p4:hover {
        color: blue;
        text-shadow: 2px 2px 10px red;
        font-size: 50px
        
}