body {
    margin: 0;
    padding: 0;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.top {
  background-color: #28a745;
  flex: 1;
}
.bottom {
  display: flex;
  flex: 1;
  gap: 5px;
}
.left {
  background-color: #7b0010;
  flex: 1;
}
.right {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 5px;
}
.orange {
  background-color: #ff7f1f;
  flex: 1;
}
.yellow {
  background-color: #ffeb00;
  flex: 1;
}
.container {
  border: 2px solid black;
}