.div1{
    background-color: red;
    width: 250px;
    height: 250px;
}

.div2{
    background-color: blue;
    width: 250px;
    height: 250px;
}

.div3{
    background-color: green;
    width: 250px;
    height: 250px;
}