@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


body{
    font-family: sans-serif;
    text-align: center;
}



h1{
    font-family: "Dancing Script", serif;
    font-size: 100px;
    text-align: center;
    
}






