.p1{
    color: rgb(255, 0, 0)

}

.p2{
    color: rgb(0, 0, 255)

}

.p3{
    color: rgb(0, 225, 0)

}

.p4{
    color: rgb(49, 130, 81)

}

.p5{
    color: rgb(255, 85, 0)

}

.p6{
    color: rgb(255, 0, 217)

}

.p7{
    color: rgb(255, 238, 0)

}

.p8{
    color: rgb(0, 0, 0)

}

.p9{
    color: rgb(217, 0, 225)

}

.p10{
    color: rgb(218, 78, 78)

}
