


#p1{
    font-size: 50px;
    text-align: center;
    height: 100px;
    width: 100px;
    color: blue;
}

#p2{
    font-size: 50px;
    text-align: center;
    height: 100px;
    width: 100px;
    color: red;
}


#p3{
    font-size: 50px;
    text-align: center;
    height: 100px;
    width: 100px;
    color: blue;
}


#p4{
    font-size: 50px;
    text-align: center;
    height: 100px;
    width: 100px;
    color: yellow;
}



#p5{
    font-size: 50px;
    text-align: center;
    height: 100px;
    width: 100px;
    color: blueviolet;
}

#p6{
    font-size: 50px;
    text-align: center;
    height: 100px;
    width: 100px;
    color: blueviolet;
}

#p7{
    font-size: 50px;
    text-align: center;
    height: 100px;
    width: 100px;
    color: brown;
}


#p8{
    font-size: 50px;
    text-align: center;
    height: 100px;
    width: 100px;
    color: burlywood;
}


#p9{
    font-size: 50px;
    text-align: center;
    height: 100px;
    width: 100px;
    color: yellowgreen;
}



#p10{
    font-size: 50px;
    text-align: center;
    height: 100px;
    width: 100px;
    color: yellow;
}
