@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Arial', sans-serif;
}
.navbar {
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    top: 0px;
    background: rgb(9, 108, 9);
    background-blend-mode: darken;
    background-size: cover;
    color: white;
    padding: 10px 20px;
}
.nav-list {
    display: flex;
    list-style: none;
}
.nav-list li {
    margin-right: 20px;
}
.nav-list li:last-child {
    margin-right: 0;
}
.nav-list li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}
.nav-list li a:hover {
    color: #11ff00;

}
.rightNav {
    text-align: right;
}
#search {
    padding: 8px;
    font-size: 16px;
    border: 2px solid #fff;
    border-radius: 5px;
}
.btn {
    background-color: greenyellow;
    color: #000;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.btn:hover {
    background-color: green;

    color: black;
}
body{
    background-size: cover;
    background-image: url(../assets/images/background.png);
    margin: 0px
}
.h1{
    font-family: "Dancing Script", serif;
    font-size: 120px;
    text-align: center;

    
}
h1 .chad{
    position: absolute;
    top: 105px;
    right: 815px;
    width: 40px;
}
h1 .loser{
    position: absolute;
    top:  190px;
    left: 49.5%;
    transform: rotateY(180deg);
    width: 46px;
}
.p1 {
    
    font-size: 30px;
    text-align: center;
    color: black;
    text-shadow: 3px 3px 2px green;
}
.p1{
    transition: 0.5s;

}
.p1:hover{
    font-size: 40px 
}
.p2{
    font-size: 30px;
    text-align: center;
    color: black;
    text-shadow: 3px 3px 2px green;
}
.p2{
    transition: 0.5s;

}
.p2:hover{
    font-size: 70px 
}
.h2{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: black;
    text-shadow: 3px 3px 2px green;
}
.h2{
    transition: 0.5s;

}
.h2:hover{
    font-size: 70px 
}
.p3{
    font-size: 50px;
    text-align: center;
    color: black;
    text-shadow: 3px 3px 2px green;
}
.p3{
    transition: 0.5s;

}
.p3:hover{
    font-size: 70px 
}
.box1{
    text-align: center;
}
.p4 {
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    color: black;
    text-shadow: 3px 3px 2px green;
}
.p4{
    transition: 0.5s;

}
.p4:hover{
    font-size: 70px 
}
.p5{
    font-size: 40px;
    text-align: center;
    color: black;
    text-shadow: 3px 3px 2px green;
}
.p5{
    transition: 0.5s;

}
.p5:hover{
    font-size: 70px 
}
.box2{
    text-align: center;
}
.p6{
    font-size: 40px;
    text-align: center;
    color: black;
    text-shadow: 3px 3px 2px green;
}
.p6{
    transition: 0.5s;

}
.p6:hover{
    font-size: 70px 
}
.box3{
    text-align: center;
}
.p7{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: black;
    text-shadow: 3px 3px 2px green;
}
.p7{
    transition: 0.5s;

}
.p7:hover{
    font-size: 70px 
}
.box4 {
    text-align: center;
}
.p8{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: black;
    text-shadow: 3px 3px 2px green;
}
.p8{
    transition: 1s;

}
.p8:hover{
    font-size: 55px 
}
*{
    padding: 0;
    margin: 0;
    box-sizing:border-box

}
footer{
    text-align: center;
}
.footerbottom{
    padding: 20px;
    
}
.designer{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: black;
    text-shadow: 3px 3px 2px green;
}
.footerbottom{
    background-image: url(../assets/images/footerbackground.png);
}
.bomboclat{
    font-weight: bolder;
}